#!/bin/bash

##!/sbin/openrc-run

SVCNAME=gogs
GOGS_PIDFILE=/var/run/gogs.pid
GOGS_USER=gogs
GOGS_HOME=/home/$GOGS_USER
GOGS_PATH={{ gopath }}/gogs
COMMAND="${GOGS_PATH}/gogs"
ARGS="web"

# Include functions
set -e
. /lib/lsb/init-functions

depend() {
    need net
    use dns logger mysql
}

checkconfig() {
    if [ ! -d "$GOGS_PATH" ] ; then
        eerror "gogs not installed" || return 1
    fi
    return 0
}

start() {
    checkconfig || return 1

    ebegin "Starting ${SVCNAME}"
    start-stop-daemon --start --quiet --background \
        --make-pidfile --pidfile "${GOGS_PIDFILE}" \
        --user "${GOGS_USER}" \
        -d ${GOGS_PATH} \
        --exec "${COMMAND}" "${ARGS}"
    eend $?
}

stop() {
    ebegin "Stopping ${SVCNAME}"
    start-stop-daemon --stop --quiet --pidfile $GOGS_PIDFILE
    eend $?
}

status() {
  status_of_proc -p "${GOGS_PIDFILE}" "" "${SVCNAME}" && exit 0 || exit $?
}
